
.carousel_projects > h2{
    font-size: 1.5em;
    padding: 10px;
    background-color: var(--background-title);
    color: white;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}

.carousel_links{
    display:flex;
    justify-content: center;
    margin: 2px 0;
}

.carousel_dot{
    background-color: rgb(136, 176, 136);
    width: 16px;
    height: 16px;
    display: block;
    border-radius: 50%;
    margin: 0 5px;
    border: 3px solid rgb(0, 0, 0);
    transition: background-color 0s linear;
}
.carousel_dot:hover{
    background-color: rgb(18, 160, 30);
    cursor: pointer;
}

.carousel_slides_project{
    height: 30vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    scroll-behavior: smooth;
    margin: 5px 20px;
}

.carousel_slides_project .articles{
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    justify-content:space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    
}
#project1{
    background-image:url("../Images/carousel/Minas_Perdidas_de_Phandelver.webp");
    background-size: cover;
}
#project2{
    background-image: url("../Images/carousel/dragon_aguahelada.jpg");
    background-size: cover;
}
#project3{
    background-image: url("../Images/carousel/malkorim.webp");
    background-size: cover;
}
.carousel_slides_project .articles header{
    text-align: center;
    padding:  10px 20px;
    margin: 10px 20px;
    background-color: black; 
    opacity: 80%;
}

.carousel_slides_project .articles p{
    padding:  5px 20px;
    margin:  0 20px;
    text-align: center;
    background-color: black; 
    opacity: 80%;
}